<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanserwei.user.domain.mapper.PermissionDOMapper">
    <resultMap id="BaseResultMap" type="com.hanserwei.user.domain.dataobject.PermissionDO">
        <id column="id" property="id"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="menu_url" property="menuUrl"/>
        <result column="menu_icon" property="menuIcon"/>
        <result column="sort" property="sort"/>
        <result column="permission_key" property="permissionKey"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <select id="selectAppEnabledList" resultMap="BaseResultMap">
        select id, name, permission_key
        from t_permission
        where status = 0 and type = 3 and is_deleted = false
    </select>
</mapper>
