<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanserwei.user.domain.mapper.RoleDOMapper">
    <resultMap id="BaseResultMap" type="com.hanserwei.user.domain.dataobject.RoleDO">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="role_key" property="roleKey"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <select id="selectEnabledList" resultMap="BaseResultMap">
        select id, role_key, role_name
        from t_role
        where status = 0 and is_deleted = false
    </select>
</mapper>
